@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100;300;500;700;900&display=swap');

* {
    margin: 0;
    padding: 0;
    list-style: none;
    font-family: 'Noto Sans TC', sans-serif;
}

html, body {
    height: 100%;
}

body {
    display: flex;
    background-color: #e6a8a8;
}

.list-menu {
    width: 300px;
    background: linear-gradient(49deg, #ab3b3a, #f75c2f);
    display: flex;
    flex-direction: column;
    box-shadow: 0px 0px 10px 5px rgba(235, 48, 21, .6);

    li {
        margin: 50px 0;
        padding: 10px 15px;
        text-align: left;
        position: relative;

        &:hover {
            background: rgba(0, 0, 0, .3);

            a {
                color: #ffdadd;
                margin-left: 0px;

                .bx {
                    transform: scale(1);
                }
            }

            .sec-menu {
                transform: scale(1);
            }
        }

        a {
            color: #fff;
            text-decoration: none;
            font-size: 40px;
            margin-left: -40px;
            transition: .3s;

            .bx {
                transform: scale(0);
            }
        }

        .sec-menu {
            position: absolute;
            width: 100%;
            right: -100%;
            transform: scale(0);
            top: -45px;
            background-color: rgba(189, 192, 186, .6);
            box-shadow: 5px 5px 5px 5px #4c4c4c;

            li {
                position: relative;

                &:hover {
                    .thi-menu {
                        transform: scale(1);
                    }
                }

                a {
                    margin: 0;
                }
            }

            .thi-menu {
                width: 100%;
                position: absolute;
                right: -100%;
                transform: scale(0);
                background-color: rgba(189, 192, 186, .6);
                top: -45px;
                box-shadow: 5px 5px 5px 5px #4c4c4c;
            }
        }
    }
}

.table {
    margin: auto;
    width: 1000px;

    table {
        width: 100%;
        border: 3px double #000;
        background: #fff;
        border-radius: 10px;
        text-align: center;
        box-shadow: 3px 3px 10px 5px rgba(171, 59, 58, .8);

        caption {
            caption-side: bottom;
            margin-top: 15px;
            text-align: right;
            background: #e6a8a8;
            color: #fff;
            padding: 10px 5px;
        }

        thead {
            background: #333;
            color: #fff;

            th {
                border: 1px solid #666;
                padding: 6px 10px;
                font-size: 30px;
                border-radius: 10px 10px 0 0;
            }
        }

        tbody {
            tr {
                &:nth-child(even) {
                    background: #d9cd90;
                }

                &:hover {
                    background-color: #bbb;
                }

                td {
                    color: #333;
                    padding: 20px;
                    font-size: 25px;
                }
            }
        }
    }
}