@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100;300;500;700;900&display=swap");
* {
  margin: 0;
  padding: 0;
  list-style: none;
  font-family: "Noto Sans TC", sans-serif;
}

html, body {
  height: 100%;
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #e6a8a8;
}

.list-menu {
  width: 300px;
  background: linear-gradient(49deg, #ab3b3a, #f75c2f);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-shadow: 0px 0px 10px 5px rgba(235, 48, 21, 0.6);
          box-shadow: 0px 0px 10px 5px rgba(235, 48, 21, 0.6);
}
.list-menu li {
  margin: 50px 0;
  padding: 10px 15px;
  text-align: left;
  position: relative;
}
.list-menu li:hover {
  background: rgba(0, 0, 0, 0.3);
}
.list-menu li:hover a {
  color: #ffdadd;
  margin-left: 0px;
}
.list-menu li:hover a .bx {
  -webkit-transform: scale(1);
          transform: scale(1);
}
.list-menu li:hover .sec-menu {
  -webkit-transform: scale(1);
          transform: scale(1);
}
.list-menu li a {
  color: #fff;
  text-decoration: none;
  font-size: 40px;
  margin-left: -40px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.list-menu li a .bx {
  -webkit-transform: scale(0);
          transform: scale(0);
}
.list-menu li .sec-menu {
  position: absolute;
  width: 100%;
  right: -100%;
  -webkit-transform: scale(0);
          transform: scale(0);
  top: -45px;
  background-color: rgba(189, 192, 186, 0.6);
  -webkit-box-shadow: 5px 5px 5px 5px #4c4c4c;
          box-shadow: 5px 5px 5px 5px #4c4c4c;
}
.list-menu li .sec-menu li {
  position: relative;
}
.list-menu li .sec-menu li:hover .thi-menu {
  -webkit-transform: scale(1);
          transform: scale(1);
}
.list-menu li .sec-menu li a {
  margin: 0;
}
.list-menu li .sec-menu .thi-menu {
  width: 100%;
  position: absolute;
  right: -100%;
  -webkit-transform: scale(0);
          transform: scale(0);
  background-color: rgba(189, 192, 186, 0.6);
  top: -45px;
  -webkit-box-shadow: 5px 5px 5px 5px #4c4c4c;
          box-shadow: 5px 5px 5px 5px #4c4c4c;
}

.table {
  margin: auto;
  width: 1000px;
}
.table table {
  width: 100%;
  border: 3px double #000;
  background: #fff;
  border-radius: 10px;
  text-align: center;
  -webkit-box-shadow: 3px 3px 10px 5px rgba(171, 59, 58, 0.8);
          box-shadow: 3px 3px 10px 5px rgba(171, 59, 58, 0.8);
}
.table table caption {
  caption-side: bottom;
  margin-top: 15px;
  text-align: right;
  background: #e6a8a8;
  color: #fff;
  padding: 10px 5px;
}
.table table thead {
  background: #333;
  color: #fff;
}
.table table thead th {
  border: 1px solid #666;
  padding: 6px 10px;
  font-size: 30px;
  border-radius: 10px 10px 0 0;
}
.table table tbody tr:nth-child(even) {
  background: #d9cd90;
}
.table table tbody tr:hover {
  background-color: #bbb;
}
.table table tbody tr td {
  color: #333;
  padding: 20px;
  font-size: 25px;
}/*# sourceMappingURL=style.css.map */